.relateditems_notify_green {
	color: green;
	padding: 2px;
	border: 2px solid green;
	margin-bottom:10px;
	font-weight: bold;
}
.relateditems_notify_red {
	color: red;
	padding: 2px;
	border: 2px solid red;
	margin-bottom:10px;
}
.relateditems_container_css {
	padding: 0;
	margin: 0;
}
.relateditems_container_css table {
	width: 600px;
}
.relateditems_container_css table td {
	border: 1px solid #cccccc;
}
.relateditems_block_table {
	border-style:none;
	border-width:0;
}